force-app/main/default/flows/Create_New_Individual_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create New Individual Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Individual Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Individual_Records</name>
        <label>Create Individual Records</label>
        <locationX>649</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>IndividualId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.URN__pc</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>661</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>PersonIndividualId</field>
            <value>
                <elementReference>IndividualId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>520</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Individual_Records</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name}=&quot;Person Account&quot;</filterFormula>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IndividualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
